{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Складской учет :: Страница выхода</title></title>
	<meta charset="utf-8" />
	<link href="{% static 'css/login.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'img/favicon.png' %}" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
	
	<div class="login">
		<div class="login-triangle"></div>
  
		<h2 class="login-header">Log out</h2>
            <div class="login-container" style="text-align: center;">
                <p>Вы удачно вышли из системы</p>
                <p><a style="text-decoration: none; color: #2288DD;" href="/login">Страница входа</a></p>
            </div>
		</div>

</body>

</html>
